//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;

@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300&subset=latin,latin-ext);


$narrow : 400px;
$small  : 650px;
$medium : 960px;
$wide   : 1200px;

