@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
@media (min-width: 0) and (max-width: 650px) {
  .timeline ul li {
    margin-left: 20px;
  }
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}
@media (min-width: 0) and (max-width: 960px) {
  .timeline ul li div {
    width: 250px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .timeline ul li div {
    width: calc(100vw - 150px);
  }
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translateX(200px);
}
.timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
  transform: translateX(-200px);
}
.timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}
@media (min-width: 0) and (max-width: 960px) {
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
.timeline ul li.in-view div {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  transition: background .5s ease-in-out;
}
.timeline ul li.in-view::after {
  background: #f45b69;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Merriweather Sans", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.intro {
  background: #F45B69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

.test {
  display: -ms-flexbox;
  display: flex;
}
